# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2023 Carl Schwan <carl@carlschwan.eu>

[Desktop Entry]
Name=Accessibility Inspector
Name[ca]=Inspector d'accessibilitat
Name[ca@valencia]=Inspector d'accessibilitat
Name[eo]=Accessibility Inspector
Name[es]=Inspector de accesibilidad
Name[eu]=Irisgarritasun ikuskatzailea
Name[fr]=Analyseur d'accessibilité
Name[ia]=Inspector de Accessibilitate
Name[it]=Ispettore dell'accessibilità
Name[ka]=წვდომადობის ინსპექტორი
Name[nl]=Toegankelijkheidsinspecteur
Name[sl]=Accessibility Inspector
Name[tr]=Erişilebilirlik Denetçisi
Name[uk]=Ревізор доступності
Name[x-test]=xxAccessibility Inspectorxx
Name[zh_CN]=无障碍特性检测工具
GenericName=Accessibility Inspector
GenericName[ca]=Inspector d'accessibilitat
GenericName[ca@valencia]=Inspector d'accessibilitat
GenericName[eo]=Inspektilo pri Alireblo
GenericName[es]=Inspector de accesibilidad
GenericName[eu]=Irisgarritasun ikuskatzailea
GenericName[fr]=Analyseur d'accessibilité
GenericName[ia]=Inspector de Accessibilitate
GenericName[it]=Ispettore dell'accessibilità
GenericName[ka]=წვდომადობის ინსპექტორი
GenericName[nl]=Toegankelijkheidsinspecteur
GenericName[sl]=Accessibility Inspector
GenericName[tr]=Erişilebilirlik Denetçisi
GenericName[uk]=Ревізор доступності
GenericName[x-test]=xxAccessibility Inspectorxx
GenericName[zh_CN]=无障碍特性检测工具
Comment=Inspect your application and detect accessibility issues
Comment[ca]=Inspecciona la vostra aplicació i detecta problemes d'accessibilitat
Comment[ca@valencia]=Inspecciona la vostra aplicació i detecta problemes d'accessibilitat
Comment[eo]=Inspektu vian aplikaĵon kaj detektu problemojn pri alireblo
Comment[es]=Inspeccionar aplicaciones y detectar problemas de accesibilidad
Comment[eu]=Zure aplikazioak ikuskatzea eta irisgarritasun arazoak antzematea
Comment[fr]=Inspecter votre application et détecter les problèmes d'accessibilité
Comment[ia]=Inspecta tu application e detege problemas de accessibilitate
Comment[it]=Ispeziona la tua applicazione e rileva i problemi di accessibilità
Comment[ka]=შეამოწმეთ თქვენი აპლიკაცია და აღმოაჩინეთ წვდომადობის პრობლემები
Comment[nl]=Inspecteer uw toepassing en detecteer problemen met toegankelijkheid
Comment[sl]=Preglejte svojo aplikacijo in odkrijte težave z dostopnostjo
Comment[tr]=Uygulamanızı denetleyin ve erişilebilirlik sorunlarını algılayın
Comment[uk]=Вивчення вашої програми і виявлення проблем із доступністю
Comment[x-test]=xxInspect your application and detect accessibility issuesxx
Comment[zh_CN]=检测应用程序中存在的影响无障碍使用的问题
Exec=accessibilityinspector
Terminal=false
Icon=org.kde.accessibilityinspector
Type=Application
Categories=Qt;KDE;Utility;Development;
X-DBUS-StartupType=Unique
X-DBUS-ServiceName=org.kde.accessibilityinspector
