# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2023 Carl Schwan <carl@carlschwan.eu>

[Desktop Entry]
Name=Accessibility Inspector
Name[ca]=Inspector d'accessibilitat
Name[ca@valencia]=Inspector d'accessibilitat
Name[en_GB]=Accessibility Inspector
Name[eo]=Inspektilo pri Alireblo
Name[es]=Inspector de accesibilidad
Name[eu]=Irisgarritasun ikuskatzailea
Name[fi]=Esteettömyystutkain
Name[fr]=Analyseur d'accessibilité
Name[he]=בוחן נגישות
Name[hu]=Akadálymentesítés-vizsgáló
Name[ia]=Inspector de Accessibilitate
Name[it]=Ispettore dell'accessibilità
Name[ka]=წვდომადობის ინსპექტორი
Name[ko]=접근성 검사기
Name[lv]=Pieejamības inspektors
Name[nl]=Toegankelijkheidsinspecteur
Name[pl]=Inspektor dostępności
Name[pt_BR]=Inspetor de acessibilidade
Name[ro]=Inspector de accesibilitate
Name[sk]=Inšpektor prístupnosti
Name[sl]=Accessibility Inspector
Name[tr]=Erişilebilirlik Denetçisi
Name[uk]=Ревізор доступності
Name[x-test]=xxAccessibility Inspectorxx
Name[zh_CN]=无障碍特性检测工具
Name[zh_TW]=無障礙檢查工具
GenericName=Accessibility Inspector
GenericName[ca]=Inspector d'accessibilitat
GenericName[ca@valencia]=Inspector d'accessibilitat
GenericName[en_GB]=Accessibility Inspector
GenericName[eo]=Inspektilo pri Alireblo
GenericName[es]=Inspector de accesibilidad
GenericName[eu]=Irisgarritasun ikuskatzailea
GenericName[fi]=Esteettömyystutkain
GenericName[fr]=Analyseur d'accessibilité
GenericName[he]=בוחן נגישות
GenericName[hu]=Akadálymentesítés-vizsgáló
GenericName[ia]=Inspector de Accessibilitate
GenericName[it]=Ispettore dell'accessibilità
GenericName[ka]=წვდომადობის ინსპექტორი
GenericName[ko]=접근성 검사기
GenericName[lv]=Pieejamības inspektors
GenericName[nl]=Toegankelijkheidsinspecteur
GenericName[pl]=Inspektor dostępności
GenericName[pt_BR]=Inspetor de acessibilidade
GenericName[ro]=Inspector de accesibilitate
GenericName[sk]=Inšpektor prístupnosti
GenericName[sl]=Accessibility Inspector
GenericName[tr]=Erişilebilirlik Denetçisi
GenericName[uk]=Ревізор доступності
GenericName[x-test]=xxAccessibility Inspectorxx
GenericName[zh_CN]=无障碍特性检测工具
GenericName[zh_TW]=無障礙檢查工具
Comment=Inspect your application and detect accessibility issues
Comment[ca]=Inspecciona la vostra aplicació i detecta problemes d'accessibilitat
Comment[ca@valencia]=Inspecciona la vostra aplicació i detecta problemes d'accessibilitat
Comment[en_GB]=Inspect your application and detect accessibility issues
Comment[eo]=Inspektu vian aplikaĵon kaj detektu problemojn pri alireblo
Comment[es]=Inspeccionar aplicaciones y detectar problemas de accesibilidad
Comment[eu]=Zure aplikazioak ikuskatzea eta irisgarritasun arazoak antzematea
Comment[fi]=Tutki sovellustasi ja havaitse esteettömyysongelmat
Comment[fr]=Inspecter votre application et détecter les problèmes d'accessibilité
Comment[he]=בחינת היישום שלך ואיתור בעיות נגישות
Comment[hu]=Alkalmazásvizsgálat és akadálymentesítési problémák észlelése
Comment[ia]=Inspecta tu application e detege problemas de accessibilitate
Comment[it]=Ispeziona la tua applicazione e rileva i problemi di accessibilità
Comment[ka]=შეამოწმეთ თქვენი აპლიკაცია და აღმოაჩინეთ წვდომადობის პრობლემები
Comment[ko]=앱의 접근성 문제 검사
Comment[lv]=Pārbaudi savu programmu un atklāj pieejamības trūkumus
Comment[nl]=Inspecteer uw toepassing en detecteer problemen met toegankelijkheid
Comment[pl]=Zbadaj swoje aplikacje i wykryj w nich kłopoty z obsługą przez tych z utrudnieniami
Comment[pt_BR]=Inspeciona seu aplicativo e detecta problemas de acessibilidade
Comment[ro]=Inspectează aplicațiile pentru a depista probleme de accesibilitate
Comment[sk]=Kontrola aplikácie a zisťovanie problémov s prístupnosťou
Comment[sl]=Preglejte svojo aplikacijo in odkrijte težave z dostopnostjo
Comment[tr]=Uygulamanızı denetleyin ve erişilebilirlik sorunlarını algılayın
Comment[uk]=Вивчення вашої програми і виявлення проблем із доступністю
Comment[x-test]=xxInspect your application and detect accessibility issuesxx
Comment[zh_CN]=检测应用程序中存在的影响无障碍使用的问题
Comment[zh_TW]=檢查您的應用程式並偵測無障礙問題
Exec=accessibilityinspector
Terminal=false
Icon=org.kde.accessibilityinspector
Type=Application
Categories=Qt;KDE;Utility;Development;
X-DBUS-StartupType=Unique
X-DBUS-ServiceName=org.kde.accessibilityinspector
