<!DOCTYPE gui SYSTEM "kpartgui.dtd">
<!--
  SPDX-License-Identifier: CC0-1.0
  SPDX-FileCopyrightText: 2023 Laurent Montel <montel@kde.org>
-->
<gui name="accessibilityinspectorui" version="1">
 <MenuBar>
  <Menu name="file" >
  </Menu>
 </MenuBar>
</gui>
